<!DOCTYPE html>
<head>
    <title>{{ escape(main_title) }}</title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
</head>

<style type="text/css">
<!-- Style code goes here -->
</style>

<body>

    <div>
		<h2>{{ escape(page_title) }}</h2>
		<br>
	</div>

    <div>
    {% block content %}
    {% end block %}
    </div>

</body>
</html>