{% extends "template.html" %}
{% block content %}
	

<!-- A div anchor that can be identified by id -->
<div id="bubblechart" class="dc-chart">
    <!-- Title or anything you want to add above the chart -->
    <strong>Bubble Chart</strong>
    <!--
        This will create a reset button when ever the user selects a filter.
		Clicking on the reset button will remove all filters.
     -->
    <a class="reset" href="javascript:BubbleChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
	<div class="clearfix"></div>
    <!--
        dc.js will also automatically inject applied current filter value into
        any html element with css class set to "filter"
    -->
    <span class="reset" style="display: none;">Current filter: <span class="filter"></span></span>
	<br>
	</br>
</div>


<script type="text/javascript">

		// Create Global Variables
		var dataset;
		var BubbleChart = dc.bubbleChart("#bubblechart");

		// Load csv file
		d3.csv("{{ static_url('data/data.csv') }}", function(data) {
		
			// Format columns
            data.forEach(function (e) {
				// convert from string to int
                e.hp = +e.hp;
                e.legs = +e.legs;
            });	
		
			dataset = data;

			// Call function
			Graph(dataset);
			
		});
		

// Create function
function Graph(data) {
		
   
    // Feed it through crossfilter   
	var ndx = crossfilter(data);
	console.log(data);
	
	//define a dimension
	//Here we will group by hp
	dim = ndx.dimension(function(d) {return d.hp});

	//Here we group by hp and do a bunch of stuff???
	g = dim.group().reduce( 
		//add
		function(p,v) {
			 ++p.count;
			 p.sumIndex +=v.legs;
			 p.avgIndex=p.sumIndex/p.count;
			  return p;
			},
		//remove
		function(p,v) {
			--p.count; 
			 p.sumIndex -=v.legs;
			 p.avgIndex=p.sumIndex/p.count;
			return p;
			},
		//init
		function() {
			return {count:0, sumIndex:0, 
				avgIndex:0 };
		}

			);

	//Lets create a bubble chart
	BubbleChart.dimension(dim)
			   .width(500)
			   .height(200)
			   .group(g)
			   .valueAccessor(function(p) {return p.value.sumIndex;}) // retrieve y value from multi-value group
			   .radiusValueAccessor(function(p) {return p.value.sumIndex;})
			   .x(d3.scale.linear().domain([0,20]).range([0,20]))
			   .y(d3.scale.linear().domain([0,20]).range([0,20]))	
			   .r(d3.scale.linear().domain([0, 4000]))
			   .title(function (p) {
					
					return [
						   "count: " + p.value.count,
						   "sumIndex: " + p.value.sumIndex,
						   "avgIndex: " + p.value.avgIndex,
						   ]
						   .join("\n");
				})
			   .renderTitle(true)
			   .renderHorizontalGridLines(true)
			   .renderVerticalGridLines(true);	
			

	dc.renderAll(); // render all charts on the page

}; // end graph function			
	
		
    </script>
	
{% end block %}

	

