<!DOCTYPE html>
<head>
    <title>{{ escape(main_title) }}</title>
	<script type="text/javascript" src="{{ static_url('js/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/crossfilter.js') }}"></script>   
    <script type="text/javascript" src="{{ static_url('js/dc.min.js') }}"></script>   
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/dc.css') }}"/>
    <script type="text/javascript" src="{{ static_url('js/jquery-2.1.1.min.js') }}"></script>   
    <link href="{{ static_url('css/bootstrap.css') }}" rel="stylesheet">
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
</head>

<body>

    <div class="container">
		<h2>{{ escape(page_title) }}</h2>
		<br>
	</div>

    <div class="container">
    {% block content %}
    {% end block %}
    </div>

</body>
</html>